<ion-view view-title="Dashboard">
  <ion-content>

    <div class="home-header">
      <div class="row wallet">
        <div class="col col-50">WALLET</div>
        <div class="col col-50" style="text-align: right;">$10.00</div>
      </div>
      <div class="row">
        <div class="col col-50"><img src="img/logo/logo.png" style="padding-top: 5px;" height="26px;" /></div>
      </div>
    </div>

    <!-- content -->

    <div class="home-section padding">

      <div class="home-title"><b>Education</b></div>

      <!-- stock -->
      <div class="row stock-line">
        <div class="col col-33">
          <div class="name">weLOVE</div>
          <div class="ticket">WLV</div>
        </div>
        <div class="col col-33">

        </div>
        <div class="col col-33">
          <div class="price">$194.23</div>
        </div>
      </div>
      <!-- end stock -->

    </div>

    <!-- end -->

  </ion-content>
</ion-view>
